/* @font-face{
	font-family: sonnySketch;
	src: url(/fonts/Sony_Sketch_EF.woff )  format('woff'),
	
} */

@font-face {
	font-family: 'Sony Sketch EF';
	font-style: normal;
	font-weight: normal;
	src: local('Sony Sketch EF'), url('../fonts/Sony_Sketch_EF.woff') format('woff');
}
@font-face{
	font-family: futuralBT;
	src: url(/fonts/Futural-BT-Light.ttf )  format('truetype'),
}
@font-face{
	font-family: scandia;
	src: url(/fonts/Scandia.ttf )  format('truetype'),
}

* {box-sizing: border-box;}
	
/* desktop resolution 1920 */
.navbar-bg{
	background-color: rgb(22,22,22);
}
.second-nav-content-color{
	color:rgb(22,22,22) !important;
}
.font-change-muli-nav{
	font-size:12pt;
	font-family: 'Muli', sans-serif;
}
.font-change-muli-title{
	font-size:30pt;
	font-weight: 600;
	font-family: 'Muli', sans-serif;
}
.font-change-muli-footer{
	font-size:13pt;
	font-weight: lighter;
	font-family: 'Muli', sans-serif;
}
.font-li-title-muli{
	font-family: 'Muli', sans-serif;
	font-weight: lighter;
}
.first-navbar-positioning{
	flex-direction: row;;
	align-content: space-around;
}
.padding-logo {
	padding-left:200px ;
}
.align-first-nav{
	padding-left:350px;
}
.align-second-nav{
	padding-left:610px;
}
.fix-item{
	padding:0.5rem 1rem;
	display:block;
}
.first-middle-content{
	height: 900px;
	background-color: rgb(232, 232, 232);
}
.padding-img-fmc{
	padding-left:23px;
	padding-right:23px;
	
}
.filtered-img-fmc-1{
	padding-right: 57px ;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	opacity: 0.5;
}
.filtered-img-fmc-2{
	padding-left: 57px;
	filter: grayscale(100%);
	opacity: 0.5;
}
.text-fmc{
	font-family: 'Sony Sketch EF';
	font-size: 24pt;
	font-weight: bold;
	color:rgb( 205, 33, 41);
	padding-top:140px;
	padding-bottom:45px;
}
.h2-fmc-positioning{
	padding-bottom: 60px;

}
.p-padding-second-fmc{
	padding-bottom:95px;
}
.second-middle-content{
	
	background: url("../img/Layer32.png");
	height: 950px;
	background-position: center;
    	background-repeat: no-repeat;
	background-size: cover;
	position:relative;
   
}
.text-smc{
	font-family: 'Sony Sketch EF';
	font-size: 24pt;
	font-weight: bold;
	color:rgb( 205, 33, 41);
	padding-top:100px;
	padding-bottom: 40px;
}
.padding-img-smc{
	padding-right: 32px;
}
.futural-BT-font{
	font-family: futuralBT;
	font-size: 20pt;
}
.p-padding-first-smc{
	padding-bottom: 36px;
}
.p-padding-second-smc{
	
	padding-bottom: 90px;
}
.first-btn-smc{
	position: absolute;
	background-color: white;
	color: red;
	font-size: 15pt;
	font-weight: bold;
	border: none;
	cursor: pointer;
	border-radius: 20px;
	text-align: center;
	width:200px;
	height:45px;
}
.second-btn-smc{
	position: absolute;
	background-color: white;
	color: red;
	font-size: 15pt;
	font-weight: bold;
	border: none;
	cursor: pointer;
	border-radius: 20px;
	text-align: center;
	width:200px;
	height:45px;
}
.nav-item-resizer {
	padding: 12px;
  	font-size: 14px; 
}
.arrow-after:after{
    margin-left: 2px;
    font-family:'FontAwesome'; content:"\f107"; 
}
.first-content-title-color{
	color: rgb(255,255,255);;
}
.content-change-color{
	color:rgb(232,232,232);
}
.modify-footer-content{
	height:1085px;
	background: url("../img/Layer31.png");
    	background-repeat: no-repeat;
	background-size: cover;
	position:relative;
}
.border-margins{
	background-color: black;
	border: 1px solid rgb(33,33,33);
}
.footer-first-content{
	padding-top: 205px;
}
.unstyle{
	list-style: none;
	margin: 0;
	padding: 0;
}
.color-grey-text{
	color:rgb(112,112,112);
}
hr{
	width: 1300px;
	border: 0;
	height: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.padding-footer-alignment{
	padding-top:70px;
}
.padding-footer-alignment-p{
	padding-top:70px;
}
.resize-footer-image{
	width: 190px;
	height: 90px;
}
.padding-footer-image{
	padding-top: 35px;
}
.flex-container{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.flex-modify-position{
	position: relative;
	display: flex;
	align-items: center;
	justify-content:center;
}
.responsive-display-fmc-img{
	display:flex;
	align-items: center;
	justify-content: center; 
}
.footer-align-strech-center {
	padding-top: 80px;
	flex-wrap: wrap;
	display: flex;
	justify-content:center;
	align-items: baseline;
}

.responsive-display {
	display: flex;
	justify-content: center;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}
/*  end classes for fix resolution */

/* navbars */
@media (min-width: 800px){
	.navbar-expand-custom {
	    flex-direction: row;
	    flex-wrap: nowrap;
	    justify-content: flex-start;
	}
	.navbar-expand-custom .navbar-nav {
	    flex-direction: row;
	}
	.navbar-expand-custom .navbar-nav .nav-link {
	    padding-right: .5rem;
	    padding-left: .5rem;
	}
	.navbar-expand-custom .navbar-collapse {
	    display: flex!important;
	}
	.navbar-expand-custom .navbar-toggler {
	    display: none;
	}
}

/* smartphones */
@media only screen and (min-width: 320px) and (max-width: 812px)  and (orientation: portrait){
	
	.padding-logo {
		width: 80%;
		padding:0px ;
	}
	
	.align-first-nav {
		padding-left: 0px;
		text-align: center;
	}

	.display-on-screen-change{
		width: 80%;
	}
	.align-second-nav {
		padding-left: 0px;
		text-align: center;
	}

	.flex-container{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
	
	.flex-modify-position{
		display: flex;
		padding:16px;
		align-items: center;
		justify-content:center;
	}
	.filtered-img-fmc-1{
		padding-right: 10px ;
	}

	.filtered-img-fmc-2{
		padding-left: 10px;
	}
	.responsive-display-fmc-img{
		
		display:flex;
		align-items: center;
		justify-content: center; 
		padding-right: 1em;
		padding-left: 1em; 
	}
	hr{
		width: 250px;
		border: 0;
		height: 0;
		border-top: 1px solid rgba(0, 0, 0, 0.1);
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	}
	.first-btn-smc{
		font-size: 15pt;
		width:150px;
		height:40px;
	}
	.second-btn-smc{
		font-size: 15pt;
		width:150px;
		height:40px;
	}

	.p-padding-second-smc{
		padding-bottom: 45px;
	}
	.padding-footer-alignment {
		padding-top: 0px;
	}

	.padding-footer-alignment-p {
		padding-top: 0px;
	}
	.flex-footer-container{
		flex-wrap: wrap;
	}
	.display-mode-responsive{
		display:flex;
	}
	.footer-first-content{
		padding-top: 25px;
	}
	.footer-second-content-padding {
		padding-top: 10px;
		padding-bottom: 0px;
	}

	.footer-content-image {
		padding-top: 20px;
		padding-right: 20px;
	}
	.display-footer-img-inline{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		
	}
	.flex-stretch-image{
		flex-wrap:wrap;
		align-content: space-around;
	}
	.footer-align-strech-center{
		padding-top: 20px ;
	}

 }

 @media only screen and (min-width: 360px) and (max-width: 640px){ 
	
	.display-footer-img-inline{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	.text-smc {
		color: rgb( 205, 33, 41);
		padding-top: 50px;
		padding-bottom: 40px;
	}
}

@media only screen and (min-width : 320px) and (max-width : 568px) and (orientation: portrait) {
	
	.padding-logo {
		width: 75%;
		justify-content: center;
		padding:0px ;
		
	}
	.align-first-nav {
		padding-left: 0px;
		text-align: center;
	}
	.align-second-nav{
		
		padding-left:0px;
		text-align: center;
	}
	.futural-BT-font {
		font-size: 12pt;
	}
	.font-change-muli-title {
		font-size: 20pt;
	}
	.h2-fmc-positioning {
		padding-bottom: 30px;
	}
	.filtered-img-fmc-1{
		padding-right: 0px;
	}
	.padding-img-fmc{
		padding: 5px
	}
	.filtered-img-fmc-2{
		padding-left: 0px;
	}
	.p-padding-second-fmc{
		padding-bottom:50px;
	}
	.responsive-image-fmc-1{
		height: 90px;
		width: 90px;
	}
	.responsive-image-fmc-2{
		width: 180px ;

	}
	.responsive-image-fmc-3{
		height: 90px;
		width: 90px ;

	}
	.responsive-image-fmc-4{
		height: 90px;
		width: 100px;

	}
	.responsive-image-fmc-5{
		height: 100px;
		width: 105px;

	}
	.responsive-image-fmc-6{
		width: 150px;

	}
	.responsive-image-fmc-7{
		height: 90px;
		width: 95px ;

	}
	.display-footer-img-inline{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	.flex-container{
		padding-top: 0%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
	.flex-modify-position{
		display: flex;
		padding:16px;
		align-items: center;
		justify-content:center;
	}
	.responsive-display-fmc-img{
		padding-top: 10%;
	}
	.text-fmc {
		font-size: 14pt;
		padding-top: 120px;
		padding-bottom: 20px;
	}
	.text-smc {
		font-size: 14pt;
		padding-top: 50px;
		padding-bottom: 40px;
	}
	.first-btn-smc {
		font-size: 12pt;
	}
	.second-btn-smc {
		font-size: 12pt;
	}
	.responsive-display {
		padding-top: 0px !important;
		padding-bottom: 0px !important;
		display: flex;
		align-items: center;
		justify-content: stretch;
		flex-direction: column;
	}
	.font-change-muli-footer {
		font-size: 10pt;
	}
	.footer-align-strech-center {
		justify-content:space-around;
	}
	.override-pr-5-responsive{
		padding-right: 1rem !important;
	}
	.pb-responsive{
		padding-bottom: 0.8rem ;
	}
	.padding-footer-alignment-p {
		padding-top: 0%;
	}
	.flex-stretch-image{
		flex-wrap:wrap;
		align-content: space-between;
	}
}

@media only screen and (min-width: 414px) and (max-width: 679px) and (orientation: portrait) {

	.flex-container{
		padding-top: 2%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
	.flex-modify-position{
		position: relative;
		display: flex;
		align-items: center;
		justify-content:center;
	}
	.responsive-scale{
		width: 300px;
    		height: 200px;
	}
}

@media only screen and (min-width: 680px) and (max-width: 767px) and (orientation: portrait) {

	.display-on-screen-change{
		width: 60%;
	}
	.flex-container{
		padding-top: 12%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
	.flex-modify-position{
		position: relative;
		display: flex;
		align-items: center;
		justify-content:center;
	}
	.footer-align-strech-center {
		padding-top: 10%;
	    }
}


@media only screen and (min-width: 320px) and (max-height: 586px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2){
	.modify-footer-content {
		height: 1440px;
	}
	.display-on-screen-change {
		width: 90%;
	}
	.responsive-display-fmc-img{
		padding-top: 0%;
	}
}

/* tablets */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) { 
	
	html, body {
		width:100%;
		overflow-x: hidden;
	}
	.display-on-screen-change{
		width: 60%;
	}
	.responsive-display-fmc-img{
		display:flex;
		align-items: center;
		justify-content: center; 
	}
	.align-first-nav {
		padding-left: 0px;
		text-align: center;
	}
	.align-second-nav{
		padding-left:0px;
		text-align: center;
	}
	
	.filtered-img-fmc-1{
		padding-right: 5px ;
		filter: grayscale(100%);
	}

	.filtered-img-fmc-2{
		padding-left: 5px;
		filter: grayscale(100%);
	}
	.padding-img-fmc{
		padding:1em;
	}
	.first-btn-smc{
		font-size: 13pt;
	}
	.second-btn-smc{
		font-size: 13pt;
	}
	.flex-container{
		flex-direction: row;
		padding-top:10%;
	}
	.footer-second-content-padding{
		padding-top: 115px;
		padding-bottom: 70px;
	}	
	.footer-content-image {
		padding-top: 80px;
		padding-right: 50px;
	}
	.display-footer-img-inline{
		display: flex;
		flex-direction: row;
		justify-content: space-between; 
	}
	.responsive-display { 
		display: flex;
		justify-content: center;
		align-items: center;
		justify-content: center;
		flex-direction: row;
	}
	.flex-modify-position{
		padding:16px;
	}
	.responsive-display-fmc-img{
		display:flex;
		align-items: center;
		justify-content: space-around; 
	}
	.footer-first-content {
		padding-top: 15%;
	}
	.footer-align-strech-center {
		padding-top: 10%;
	}
	.pb-responsive{
		padding-bottom: 1rem;
	}
	.padding-footer-alignment {
		padding-top: 0%;
	}
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: portrait){
	.padding-logo {
		padding-left: 0px;
	}
	.align-first-nav {
		padding-left: 0px;
		justify-content: center;
	}
	.align-second-nav {
		padding-left: 0px;
		justify-content: center;
	}
	.display-on-screen-change{
		width: 90%;
	}
	.flex-container{
		padding-top: 2%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
	.flex-modify-position{
		position: relative;
		display: flex;
		align-items: center;
		justify-content:center;
	}
	.padding-img-fmc{
		padding:3px;
	}
	.first-btn-smc{
		font-size: 15pt;
	}
	.second-btn-smc{
		font-size: 15pt;
	}
	.footer-first-content {
		padding-top: 15%;
	}
	.footer-align-strech-center {
		padding-top: 10%;
	}
	.responsive-display { 
		display: flex;
		justify-content: center;
		align-items: center;
		justify-content: center;
		flex-direction: row;
	}
	.display-footer-img-inline{
		display: flex;
		flex-direction: row;
		justify-content: space-between; 
	}
	.padding-footer-alignment {
		padding-top: 5%;
	}
	.padding-footer-alignment-p {
		padding-top: 5%;
	}
}

/* ----------------------------------------------------------- LANDSCAPE------------------------- */
/* smartphones*/
@media only screen and (min-width: 414px) and (max-width: 736px) and (orientation : landscape) { 

	.first-btn-smc {
		font-size: 12PT;
		width: 120px;
		height: 40px;
	}
	.second-btn-smc {
		font-size: 12PT;
		width: 120px;
		height: 40px;
	}
}

@media only screen and (min-width: 375px) and (max-height: 812px) and (orientation: landscape) {
	
	.responsive-display-fmc-img{
		padding-right: 1em;
		padding-left: 1em; 
	}
	.flex-stretch-image{
		flex-wrap:wrap;
		align-content: stretch;
	}
	.display-mode-responsive{
		display:flex;
	}
	.padding-footer-alignment {
		padding-top: 15%;
	}
}

@media only screen and (min-width: 320px) and (max-height: 586px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2){
	.modify-footer-content {
		height: 1150px;
	}
}

@media only screen and (min-width: 320px) and (max-height: 586px) and (orientation: landscape) {

	html, body {
		width:100%;
		overflow-x: hidden;
	}

	.padding-logo {
		width: 75%;
		justify-content: center;
		padding:0px ;
	}
	.align-first-nav {
		padding-left: 0px;
		text-align: center;
		justify-content: center;
	}

	.align-second-nav {
		padding-left: 0px;
		text-align: center;
		justify-content: center;
	}
	.text-fmc {
		font-size: 17pt;
	}
	.futural-BT-font {
		font-size: 14pt;
	}
	.font-change-muli-title {
		font-size: 20pt;
	}
	.text-smc {
		font-size: 17pt;
	}
	.second-middle-content{
		height: 750px;
	}
	.p-padding-second-smc {
		padding-bottom: 50px;
	}
	.display-on-screen-change{
		width: 70%;
	}
	.align-first-nav{
		display: inline-grid;
		padding-left: 0px;
	}

	hr{
		width: 250px;
	}
	.filtered-img-fmc-1{
		padding-right: 10px ;
		filter: grayscale(100%);
	}

	.filtered-img-fmc-2{
		padding-left: 10px;
		filter: grayscale(100%);
	}

	.padding-img-fmc{
		padding-bottom:5px;
		padding-left: 10px;
		padding-right:10px;
		display:inline-block;
	}

	.first-btn-smc{
		font-size: 10pt;
		width: 120px;
		height: 30px;
	}
	.second-btn-smc {
		font-size: 10pt;
		width: 120px;
		height: 30px;
	}
	.flex-container{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}

	.flex-footer-container{
		flex-wrap: wrap;
	}

	.footer-second-content-padding {
		padding-top: 50px;
		padding-bottom: 0px;
	}
	.footer-first-content {
		padding-top: 55px;
	}
	.flex-modify-position{
		padding:1em;
	}
	.responsive-display-fmc-img{
		display:flex;
		align-items: center;
		justify-content: center; 
	}
	.responsive-display { 
		padding-top: 0px !important;
		padding-bottom: 0px !important;
		display: flex;
		align-items: center;
		justify-content: stretch;
		flex-direction: column;
	}
	.footer-align-strech-center {
		padding-top: 40px;
	}
	.pb-responsive{
		padding-bottom: 1rem ;
	}
	.padding-footer-alignment {
		padding-top: 5%;
	}
	.padding-footer-alignment-p {
		padding-top: 5%;
	}
			
}

/* tablets */
@media only screen and (min-width: 768px) 
                   and (max-height: 1024px) 
                   and (orientation: landscape) and (device-aspect-ratio: 4/3){
	html, body {
		width:100%;
		overflow-x: hidden;
	}
	.padding-logo {
		padding-left: 10px !important;
	}
	.align-first-nav {
		padding-left: 0px;
		justify-content: space-around;
	}
	.align-second-nav {
		padding-left: 0px;
		justify-content: center;
	}
	.filtered-img-fmc-1{
		padding-right: 10px ;
	}

	.filtered-img-fmc-2{
		padding-left: 10px;
	}

	.padding-img-fmc{
		padding-bottom:5px;
		padding-left: 10px;
		padding-right:10px;
		display:inline-block;
	}
	.display-footer-img-inline{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	.flex-container {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
	.flex-modify-position{
		padding:1em;
	}
	.footer-first-content {
		padding-top: 15%;
	}
	.footer-align-strech-center {
		padding-top: 10%;
	}
	.responsive-display-fmc-img{
		display:flex;
		align-items: center;
		justify-content: center;
		padding-right: 1em;
		padding-left: 1em; 
	}
	.modify-footer-content{
		padding: 1em;
	}
	
	.padding-footer-alignment {
		padding-top: 5%;
	}
	.padding-footer-alignment-p {
		padding-top: 5%;
	}
}

@media only screen and (min-width: 1025px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5){
	html, body {
		width:100%;
		overflow-x: hidden;
	}
	.padding-logo {
		padding-left: 10px !important;
	}

	.align-first-nav {
		padding-left: 0px;
		justify-content: space-around;
	}
	.align-second-nav {
		padding-left: 0px;
		justify-content: center;
	}
	.filtered-img-fmc-1 {
		padding-right: 27px;
	}
	.filtered-img-fmc-2 {
		padding-left: 27px;
	}
	.footer-first-content {
		padding-top: 15%;
	}
	.footer-align-strech-center {
		padding-top: 10%;
	}
	.padding-footer-alignment {
		padding-top: 0%;
	}
	.padding-footer-alignment-p {
		padding-top: 0%;
	}
}

/* large screens */
@media only screen and (min-width: 755px) and (max-width: 1500px){
	html, body {
		width:100%;
		overflow-x: hidden;
	}
	.padding-logo {
		width: 75%;
		justify-content: center;
		padding:0px ;
	}
	
	.display-on-screen-change{
		width: 80%;
	}
	.align-first-nav {
		padding-left: 0px;
		justify-content: space-around;
		text-align: center;
	}
	.align-second-nav {
		padding-left: 0px;
		justify-content: center;
		text-align: center;
	}
	.responsive-display-fmc-img {
		display: flex;
		align-items: center;
		justify-content: space-around;
	}
	.padding-img-fmc {
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 10px;
	}
	.filtered-img-fmc-1 {
		padding-right: 0px;
		padding-left: 20px;
	}
	.filtered-img-fmc-2 {
		padding-right: 20px;
		padding-left: 0px;
		
	}
	.flex-container {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
	.flex-modify-position{
		display: flex;
		padding:16px;
		align-items: center;
		justify-content:center;
	}
	.footer-first-content{
		padding-top: 15%;;
	}
	.padding-footer-alignment {
		padding-top: 2%;
	}
	.padding-footer-alignment-p {
		padding-top: 2%;
	}
	.font-change-muli-title {
		font-size: 25pt;
	}
	.futural-BT-font {
		font-size: 15pt;
	}
}